.services {
  color: var(--color-surface-text);
  margin: 3em 1em;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background-color: var(--color-surface-secondary-bg);
  padding: 1em;
  border-radius: 2em;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0em;
}

.icon {
  display: flex;
  padding: 0.5em;
  border: 1px solid var(--color-btn-secondary-border);
  border-radius: 5em;
}

.header h3 {
  font-size: 1.15rem;
  margin: 0;
}

.description {
  color: var(--color-surface-secondary-text);
}
