.hero {
  color: var(--color-surface-text);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texts {
  max-width: 650px;
}

.header {
  font-size: 3rem;
  line-height: 1.15;
}

.description {
  font-size: 1rem;
  max-width: 450px;
}

.actions {
  display: inline-flex;
  gap: 10px;
}

.primary {
  font-weight: 500;
  font-size: 1.05rem;
  background-color: var(--color-btn-primary-bg);
  border-radius: 5em;
  padding: 0.5em 1em;
  display: flex;
  gap: 5px;
}

.secondary {
  background-color: var(--color-btn-secondary-bg);
  border: 1px solid var(--color-btn-secondary-border);
  border-radius: 5em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.socials {
  margin: 1em 0;
  display: flex;
  gap: 10px;
}

@media (min-width: 750px) {
  .hero {
    margin: 0 60px;
  }

  .header {
    font-size: 3.5rem;
    padding: 0;
    margin-bottom: 0;
    max-width: 550px;
  }
}
