.hero {
  color: var(--color-surface-text);
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texts {
  max-width: 650px;
}

.header {
  font-size: 3rem;
  line-height: 1.15;
  margin: 0;
}

.description {
  font-size: 1rem;
  max-width: 450px;
  color: var(--color-surface-secondary-text);
}

.actions {
  display: inline-flex;
  gap: 10px;
}

.socials {
  margin: 1em 0;
  display: flex;
  gap: 10px;
}

@media (min-width: 750px) {
  .hero {
    margin: 0 60px;
  }

  .header {
    font-size: 5rem;
    padding: 0;
    margin-bottom: 0;
    max-width: 550px;
  }
}
