.primary {
  font-weight: 500;
  font-size: 1.05rem;
  background-color: var(--color-btn-primary-bg);
  border-radius: 5em;
  padding: 0.5em 1em;
  display: flex;
  gap: 5px;
}

.secondary {
  background-color: var(--color-btn-secondary-bg);
  border: 1px solid var(--color-btn-secondary-border);
  border-radius: 5em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.primary,
.secondary {
  transition: all 0.15s ease;
}

.primary:hover,
.primary:focus {
  background-color: var(--color-btn-primary-hover);
}

.secondary:hover,
.secondary:focus {
  background-color: var(--color-btn-secondary-hover);
}

.primary:hover,
.primary:focus,
.secondary:hover,
.secondary:focus {
  color: var(--color-interaction-text);
  box-shadow: var(--shadow-interaction);
  transform: translateY(-1px);
}
