.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: var(--color-surface-text);
  background-color: var(--color-surface-bg);
  border: 1px solid var(--color-surface-border);
  border-radius: 3em;
  padding: 0.5em 1.5em;
  margin: 1em 0.5em 0;
  white-space: nowrap;
}

.brand {
  font-size: 1.5em;
  font-weight: 500;
}

/* navigation links */

/* wider screen */
.links {
  display: none;
}

.links a {
  text-align: center;
  padding: 0.5em 0.8em;
  transition: all 0.15s ease;
}

.links a:hover,
.links a:active {
  border-radius: 5em;
  background-color: var(--color-btn-primary-bg);
  color: var(--color-interaction-text);
  box-shadow: var(--shadow-interaction);
}

/* small screen  */
.menuLinks li {
  padding: 0.5em;
  display: contents;
}

.menuLinks {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: var(--color-surface-secondary-text);
  background-color: var(--color-surface-secondary-bg);
  border: 1px solid var(--color-surface-border);
  border-radius: 20px;
  margin: 0.5em;
  overflow: hidden;
}

.menuLinks a {
  padding: 1em 4em 1em 1em;
  transition: all 0.15s ease;
}

.menuLinks a:not(:first-of-type) {
  border-top: 1px solid var(--color-surface-border);
}

.menuLinks a:hover,
.menuLinks a:focus {
  background-color: var(--color-btn-primary-bg);
  color: var(--color-interaction-text);
  transform: translateX(2px);
}

.rightNav {
  display: flex;
  gap: 10px;
}

.menuBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.themeBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-btn-secondary-border);
  border-radius: 8px;
  padding: 0.5em;
}

.menuBtn,
.themeBtn {
  transition: all 0.15s ease;
}

.menuBtn:hover,
.menuBtn:focus,
.themeBtn:hover,
.themeBtn:focus {
  background-color: var(--color-btn-secondary-hover);
  color: var(--color-interaction-text);
  border-radius: 10px;
  box-shadow: var(--shadow-interaction);
  transform: translateY(-1px);
}

.sun {
  display: none;
}

@media (min-width: 750px) {
  .menuBtn {
    display: none;
  }

  .links {
    display: flex;
  }
}
