.social {
  display: inline-flex;
  font-size: 1rem;
  padding: 0.6em;
  background-color: var(--color-surface-bg);
  border: 1px solid transparent;
  border-radius: 5em;
  overflow: hidden;
  transition: all 0.15s ease;
}

.social:hover,
.social:focus {
  transform: translateY(-1px);
  border-color: var(--color-interaction-outline);
  color: var(--color-interaction-text);
  box-shadow: var(--shadow-interaction);
}
